.App {
  width: 84.2%;
  margin: 0 auto 103px;
}

select {
  padding: 10px 16px;
  background: #f2f2f2;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 150%;
  min-width: 288px;
  letter-spacing: 0.01em;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./icons/arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 19px top 50%, 0 0;
  background-size: 17.41px auto, 100%;
}
